@import "./rest.css";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap");

/* font-family: "DM Sans", sans-serif;
font-family: "Poppins", sans-serif; */
:root {
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;
  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
}

html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
}

/* Nav */

.nav {
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-border);
  background-color: var(--dark-bg);
  color: var(--header-text);
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.nav-logo {
  font-family: "Poppins", sans-serif;
  color: var(--header-text);
  font-size: 24px;
}

.nav-logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.nav-list__link {
  color: var(--header-text);
  transition: opacity 0.3 ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 695px;
  padding: 40px 0;
  background-color: var(--dark-bg);
  color: var(--header-text);
  background-image: url("/imgs/Abstract.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.header_wrapper {
  padding: 0 15px;
  max-width: 660px;
}
.header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}
.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.333;
}

.header__text p + p {
  margin-top: 0.5em;
}

/* btn */

.btn {
  display: inline-block;
  margin-top: 30px;
  height: 48px;
  padding: 12px 26px;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease-in;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  position: relative;
  top: 1px;
}

.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;
  height: 48px;
  padding: 12px 20px;
  border: 1px solid var(--black);
  border-radius: 5px;
  color: var(--black);
  transition: opacity 0.2s ease-in;
}

.btn-outline :hover {
  opacity: 0.8;
}
.btn-outline :active {
  position: relative;
  top: 1px;
}

/* Projects */
.section {
  padding: 70px 0;
}

.projects__headline {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  list-style: 1.3;
  color: var(--accent);
  text-align: center;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.project {
  max-width: 370px;
  color: var(--white);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.project__img {
  border-radius: 10px 10px 0 0;
}
.project__title {
  padding: 15px 20px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: var(--black);
}

/* Project details */

.project-detalis {
  margin: 0 auto;
  max-width: 865px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-detalis__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.project-ditalis-disc {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}

.footer {
  padding: 60px 0 50px;
  background-color: var(--dark-bg);
  color: var(--white);
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.copyright {
  font-size: 16px;
}

/* Page Skills */

.headline {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  list-style: 1.3;
  color: var(--accent);
  text-align: center;
}
.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 40px;
}
.content-list__item {
  font-size: 18px;
  list-style: 1.5;
}
.title-skills {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
}
